body {
    font-family: "Roboto", sans-serif;
  }

ul,
ol {
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}
.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}



h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* 
img {
  display: block;
  width: 100%;
  height: auto;
} */

* {
  box-sizing: border-box;
}

.header {
  max-width: 1600px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(181, 177, 185);
  background-image: url(../images/desktop/bg-des.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-logo {
  color: #fff;
}
.header-span{
  color: #28A745;
}
.header-a {
  color: #fff;
}
.footer {
  background: rgb(114, 110, 110);

}